  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#myPage">Maya Land</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">ABOUT</a></li>
          <li><a routerLink="home">HOME</a></li>
          <li><a routerLink="/superheroes" routerLinkActive="active">Heroes</a></li>
          <li><a href="#portfolio">PORTFOLIO</a></li>
          <li><a href="#pricing">PRICING</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
    
  </nav>
  <br><br>
  <h1 class="title">Angular Router</h1>
  <nav>
    <a routerLink="/crisis-center1" routerLinkActive="active">Crisis Center1</a>
    <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
    <a routerLink="/superheroes1" routerLinkActive="active">Heroes1</a>
    <a routerLink="/superheroes" routerLinkActive="active">Heroes</a>
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a [routerLink]="[{ outlets: { popup: ['compose']}}]">Contact</a>
  </nav>
  <router-outlet>qqqq</router-outlet>
  <router-outlet name="popup"></router-outlet>

  
<div style="padding:70px">
  <ul class="nav nav-tabs">
   <li routerLinkActive="active">
     <a routerLink="home">Home</a>
   </li>
   <li routerLinkActive="active">
       <a routerLink="employees">Employees</a>
     </li>
 </ul>
 <br> 
 <!-- <router-outlet>11111</router-outlet>
 
 <router-outlet name="popup"></router-outlet> -->

 <div class="jumbotron">
  <div class="container">
      <div class="col-sm-8 col-sm-offset-2">
          <app-alert></app-alert>
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
</div>



<!-- credits -->
<div class="text-center">
  <p>
      <a href="https://www.pointblankdevelopment.com.au/blog/113/aspnet-core-angular-24-user-registration-and-login-tutorial-example" target="_top">ASP.NET Core + Angular 2/4 - User Registration and Login Tutorial & Example</a>
  </p>
  <p>
      <a href="https://www.pointblankdevelopment.com.au" target="_top">Point Blank Development Sydney</a>
  </p>
</div>

  <footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Go to  <a href="https://www.ispot.space" title="Go to ispot.space">www.ispot.space</a></p>
  </footer>
  
  
  </body>



